<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <style>
body{
font-size: 20px;
font-family: sans-serif;
color: #333;
}
.question{
    font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #38a;
}
  </style>
</head>
<body>
  <div id="app">
    <form @submit.prevent="submit">
      <div id="quiz">
        <!-- :q="q" -->
        <quiz-item
          v-for="(q, index) in questions"
          :key="q.question"
          :question="q.question"
          :answers="q.answers"
          :correct-answer="q.correctAnswer"
          :index="index"
          @select="select"
          :class="submited && `${answers[index] ? 'correct' : 'incorrect'}`"
        ></quiz-item>
      </div>
      <button id="submit">Submit Quiz</button>
    </form>

    <div id="results" v-if="submited">
      {{ correctAnswers }} out of {{ questions.length }}
    </div>
  </div>


<script>
  function buildQuiz() {
    // we'll need a place to store the HTML output
    const output = [];

    // for each question...
    myQuestions.forEach((currentQuestion, questionNumber) => {
      // we'll want to store the list of answer choices
      const answers = [];

      // and for each available answer...
      for (letter in currentQuestion.answers) {
        // ...add an HTML radio button
        answers.push(
          `<label>
            <input type="radio" name="question${questionNumber}" value="${letter}">
            ${letter} :
            ${currentQuestion.answers[letter]}
          </label>`
        );
      }

      // add this question and its answers to the output
      output.push(
        `<div class="question"> ${currentQuestion.question} </div>
        <div class="answers"> ${answers.join("")} </div>`
      );
    });

    // finally combine our output list into one string of HTML and put it on the page
    quizContainer.innerHTML = output.join("");
  }

  function showResults() {
    // gather answer containers from our quiz
    const answerContainers = quizContainer.querySelectorAll(".answers");

    // keep track of user's answers
    let numCorrect = 0;

    // for each question...
    myQuestions.forEach((currentQuestion, questionNumber) => {
      // find selected answer
      const answerContainer = answerContainers[questionNumber];
      const selector = `input[name=question${questionNumber}]:checked`;
      const userAnswer = (answerContainer.querySelector(selector) || {}).value;

      // if answer is correct
      if (userAnswer === currentQuestion.correctAnswer) {
        // add to the number of correct answers
        numCorrect++;

        // color the answers green
        answerContainers[questionNumber].style.color = "lightgreen";
      } else {
        // if answer is wrong or blank
        // color the answers red
        answerContainers[questionNumber].style.color = "red";
      }
    });

    // show number of correct answers out of total
    resultsContainer.innerHTML = `${numCorrect} out of ${myQuestions.length}`;
  }

  // const quizContainer = document.getElementById("quiz");
  // const resultsContainer = document.getElementById("results");
  // const submitButton = document.getElementById("submit");

  const myQuestions = [
    {
      question: "Who is the strongest?",
      answers: {
        a: "Superman",
        b: "The Terminator",
        c: "Waluigi, obviously"
      },
      correctAnswer: "c"
    },
    {
      question: "What is the best site ever created?",
      answers: {
        a: "SitePoint",
        b: "Simple Steps Code",
        c: "Trick question; they're both the best"
      },
      correctAnswer: "c"
    },
    {
      question: "Where is Waldo really?",
      answers: {
        a: "Antarctica",
        b: "Exploring the Pacific Ocean",
        c: "Sitting in a tree",
        d: "Minding his own business, so stop asking"
      },
      correctAnswer: "d"
    }
  ];

  // display quiz right away
  // buildQuiz();

  // on submit, show results
  // submitButton.addEventListener("click", showResults);
</script>
<script>
  var Question = {
    props: {
      question: {
        type: String,
        required: true
      },
      answers: {
        type: Object,
        required: true
      },
      correctAnswer: {
        type: String,
        required: true
      },
      index: {
        type: Number,
        required: true
      }
    },
    data () {
      return {
        selected: ''
      }
    },
    template: `<div>
      <div class="question">{{question}}</div>
      <div class="answers">
        <label v-for="(answer, letter) in answers" :key="letter">
          <input type="radio" :name="'q' + index" :value="letter" v-model="selected" @change="change(letter)">
          {{letter}} :
          {{answer}}
        </label>
      </div>
    </div>`,
    methods: {
      change (letter) {
        // console.log(letter);
        this.$emit('select', letter === this.correctAnswer, this.index)
      }
    },
    computed: {
      style () {
        return `color: ${this.selected === this.correctAnswer ? 'green' : 'red'}`
      }
    }
  }
  new Vue({
    el: '#app',
    components: {
      'quiz-item': Question
    },
    data: {
      questions: myQuestions,
      submited: false,
      answers: myQuestions.map(a => false)
    },
    computed: {
      correctAnswers () {
        return this.answers.reduce((prev, current) => {
          return prev + current;
        }, 0)
      }
    },
    methods: {
      submit () {
        // alert('SUBMIT')
        this.submited = true;
      },
      select (isCorrect, index) {
        console.log(isCorrect, index);
        const answers = [...this.answers];
        answers[index] = isCorrect;

        this.answers = answers;
      }
    }
  })
</script>
</body>
</html>
