<template>
  <span :class="className"/>
</template>
<script>
import CountUp from 'countup.js';

export default {
  name: 'CountUp',
  props: {
    className: {
      type: String,
      default: ''
    },
    start: {
      type: Number,
      default: 0
    },
    end: {
      type: Number,
      required: true
    },
    decimals: {
      type: Number,
      default: 0
    },
    duration: {
      type: Number,
      default: 5
    },
    options: {
      type: Object,
      required: false,
      default: () => ({
        useEasing: true,
        useGrouping: true,
        separator: ','
      })
    }
  },
  data () {
    return {
      instance: null
    };
  },
  watch: {
    end (val) {
      if (this.instance && this.instance.update) {
        this.instance.update(val);
      }
    }
  },
  mounted () {
    this.init();
  },
  beforeDestroy () {
    this.destroy();
  },
  methods: {
    init () {
      if (!this.instance) {
        this.instance = new CountUp(
          this.$el,
          this.start,
          this.end,
          this.decimals,
          this.duration,
          this.options
        );
        this.instance.start();
      }
    },
    destroy: function () {
      this.instance = null;
    }
  },
  start: function () {
    if (this.instance && this.instance.start) {
      this.instance.start();
    }
  },
  pauseResume: function () {
    if (this.instance && this.instance.pauseResume) {
      this.instance.pauseResume();
    }
  },
  reset: function () {
    if (this.instance && this.instance.reset) {
      this.instance.reset();
    }
  },
  update: function (newEndVal) {
    if (this.instance && this.instance.update) {
      this.instance.update(newEndVal);
    }
  }
};
</script>
