<template functional>
  <article
    class="job">
    <div
      v-if="props.job.logo"
      class="job__logo">
      <img
        :src="props.job.logo"
        alt="">
    </div>
    <h3 class="job__title"><a
      :href="props.job.url"
      class="job__link"
      target="_blank"
      rel="noopener noreferrer"
    >{{ props.job.title | capitalize }}</a></h3>
    <div class="job__details">
      <div class="job__company">
        <img svg-inline src="../assets/1.svg" >
        {{ props.job.company ? props.job.company : 'N/A' }}
      </div>
      <div class="job__location">
        <img svg-inline src="../assets/2.svg" >
        {{ props.job.location ? props.job.location : 'N/A' }}
      </div>
      <div class="job__type">
        <img svg-inline src="../assets/3.svg" >
        {{ props.job.job_type ? props.job.job_type : 'N/A' }}
      </div>
      <div class="job__salary">
        <img svg-inline src="../assets/4.svg" >
        {{ props.job.salary ? props.job.salary : 'N/A' }}
      </div>
    </div>
    <div
      class="job__description"
      v-html="props.job.snippet"
    />
    <footer>
      <div v-if="props.job.age_days === 0">
        NEW! Posted today
      </div>
      <div v-else>
        Posted {{ props.job.age }}
      </div>
    </footer>
  </article>
</template>
