<template>
  <div id="app">
    <section class="hero">
      <header class="page-header">
        <div class="container">
          <h1 class="page-title">Job<strong>Vue</strong></h1>
        </div>
      </header>
      <div class="container container--hero">
        <h2 class="hero__title">Are You Ready for Your Next Job&nbsp;Interview?</h2>
        <div class="hero__statistics">
          Search <count-up :end="total"/> jobs
        </div>
        <form
          class="search-form"
          @submit.prevent="search">
          <div class="search-form__row">
            <label
              class="search-form__label"
              for="keyword"
            >Keyword</label>
            <input
              id="keyword"
              v-model="keyword"
              type="search"
              class="search-form__field"
              placeholder="e.g. front end developer"
            >
          </div>
          <div class="search-form__row search-form__row--margin-bottom">
            <label
              class="search-form__label"
              for="location"
            >Location</label>
            <input
              id="location"
              v-model="location"
              type="search"
              class="search-form__field search-form__field--short search-form__field--left"
              placeholder="town or post code"
            >
            <select
              id="radius"
              v-model="radius"
              class="search-form__field search-form__select search-form__field--right"
            >
              <option :value="0">+0 miles</option>
              <option :value="5">+5 miles</option>
              <option :value="10">+10 miles</option>
              <option :value="25">+25 miles</option>
              <option :value="50">+50 miles</option>
            </select>
          </div>
          <div class="search-form__row search-form__row--full-width">
            <button
              type="submit"
              class="search-form__btn"
            >Search</button>
          </div>
        </form>
      </div>
    </section>
    <main
      ref="main"
      class="container container--flex">
      <h2 class="section-title">{{ pageTitle | capitalize }}</h2>
      <job-item
        v-for="(job, index) in jobs"
        :key="index + 1"
        :job="job"
      />
    </main>
    <footer class="page-footer">
      <div class="container">
        <p class="copyright">Created by Zsolt Meszaros as part of his Vue challenge - Day&nbsp;#10</p>
      </div>
    </footer>
  </div>
</template>

<script>
import CountUp from './components/CountUp';
import JobItem from './components/JobItem';
// import JobItem from './components/JobItemFn';

const URL = 'http://127.0.0.1:3002/';

function createURL (url, params) {
  const query = Object.keys(params)
    .map(key => `${key}=${encodeURIComponent(params[key])}`)
    .join('&');
  return `${url}?${query}`;
}

export default {
  name: 'App',
  components: { CountUp, JobItem },
  filters: {
    number (value) {
      return new Intl.NumberFormat().format(value);
    }
  },
  data () {
    return {
      filteredTotal: 0,
      isFetching: false,
      jobs: [],
      keyword: null,
      location: null,
      pageTitle: 'Browse Our Latest Jobs',
      radius: 5,
      total: 50000
    };
  },
  mounted () {
    this.fetchJobs({ sort: 'date' })
      .then(res => { this.total = res.total; });
  },
  methods: {
    fetchJobs: function (settings = {}) {
      this.isFetching = true;

      return fetch(createURL(URL, settings))
        .then(res => res.json())
        .then(res => {
          this.isFetching = false;

          if (res.error) {
            this.error = res.error;
          } else {
            this.jobs = res.data;
            this.filteredTotal = res.total;
          }
          return res;
        });
    },
    search: function () {
      const settings = { radius: this.radius };

      if (this.keyword) {
        settings.keyword = this.keyword;
      }

      if (this.location) {
        settings.location = this.location;
      }

      this.fetchJobs(settings)
        .then(res => {
          if (this.keyword && this.location) {
            this.pageTitle = `${this.$options.filters.number(this.filteredTotal)} ${this.keyword} Jobs in ${this.location}`;
          } else if (this.keyword) {
            this.pageTitle = `We Have Found ${this.$options.filters.number(this.filteredTotal)} ${this.keyword} Jobs`;
          } else if (this.location) {
            this.pageTitle = `We Have Found ${this.$options.filters.number(this.filteredTotal)} Jobs in ${this.location}`;
          } else {
            this.pageTitle = 'Browse Our Latest Jobs';
          }
        });

      this.$refs.main.scrollIntoView(
        { block: 'start', behavior: 'smooth' }
      );
    }
  }
};
</script>
