<template>
  <article
    class="job"
    :class="$style.job">
    <div
      v-if="job.logo"
      class="job__logo">
      <img
        :src="job.logo"
        alt="">
    </div>
    <h3 class="job__title"><a
      :href="job.url"
      class="job__link"
      target="_blank"
      rel="noopener noreferrer"
    >{{ job.title | capitalize }}</a></h3>
    <div class="job__details">
      <div class="job__company">
        <img svg-inline src="../assets/1.svg" >
        {{ job.company ? job.company : 'N/A' }}
      </div>
      <div class="job__location">
        <img svg-inline src="../assets/2.svg" >
        {{ job.location ? job.location : 'N/A' }}
      </div>
      <div class="job__type">
        <img svg-inline src="../assets/3.svg" >
        {{ job.job_type ? job.job_type : 'N/A' }}
      </div>
      <div class="job__salary">
        <img svg-inline src="../assets/4.svg" >
        {{ job.salary ? job.salary : 'N/A' }}
      </div>
    </div>
    <div
      class="job__description"
      v-html="job.snippet"
    />
    <footer>
      <div v-if="job.age_days === 0">
        NEW! Posted today
      </div>
      <div v-else>
        Posted {{ job.age }}
      </div>
    </footer>
  </article>
</template>
<script>
export default {
  props: {
    job: {
      type: Object,
      required: true
    }
  }
};
</script>
<style module>
  .job {
    color: red;
  }
</style>

